html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 50px;
}

.features-container {
    max-width: 1420px;
    width: 100%;
    /* border: 1px solid #000000; */
    margin: 0 auto;
}

.feature-heading h2 {
    font-size: 60px;
    margin: 0px;
}

.feature-heading {
    padding: 40px 0px;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    /* border: 1px solid #000000; */

}

.tabs-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    /* border: 1px solid #000000; */
    width: 100%;
}

.tabs-items:nth-child(1) {
    width: 40%;
}


.tabs-items ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.tabs-items ul li {
    padding: 0.75rem 0px;
    padding-left: 1.5rem;
    border-left: 3px solid #8d9091;
}

.tabs-items ul li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #575757;
}

.tab-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    /*     border: 1px solid #000000; */
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(141, 144, 145, 0.51);
}

.tab-section-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    /*     border: 1px solid #000000; */
    width: 47%;
    margin: 10px;
    padding: 10px 0;
}

.tab-section-item h4 {
    font-weight: 800;
    font-size: 20px;
    margin: 0 0 10px;
    padding-right: 10px;
}

.tab-section-item p {
    margin: 0;
    font-size: 16px;
    padding-right: 20px;
}

.rel-sec {
    margin-top: 50px;
}

.rel-sec>h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #666666;
    margin: 0px 0px 10px 10px;
}

.rel-sec>h4 {
    font-size: 32px;
    margin: 0px 0px 10px 10px;
}

.tabs-items ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.tabs-items .rel-sec:nth-child(1) {
    margin-top: 0px;
}

.tab-section-img {
    flex-basis: 100%;
}

.tab-section-item>p span {
    line-height: 40px;
}

.tab-section-img img {
    margin-top: 20px;
}

.tabs-items .rel-sec:last-child .tab-section {
    border: 0px;
}

.bottom-det {
    text-align: center;
    margin: 50px 0px 100px 0px;
}

.bottom-det h2 {
    margin: 0px;
    font-size: 30px;
}

.bottom-det a {
    margin: 0px;
    background-color: #008060;
    padding: 15px 20px;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
}

.bottom-det a:hover, .bottom-det a:focus {
    background-color: #004c3f;
    color: #ffffff;
    transition: all 0.5s;
}

.faq-wrapper {
    /* text-align: center; */
}

.faq-wrapper h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.faq-container-item>h3 {
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 40px;
}

.list-items-container .list-item-con-item h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}

.list-item-con-item {
    margin-bottom: 30px;
}

.list-items-container .list-item-con-item p {
    font-size: 16px;
    font-weight: 500;
    color: #6B7177;
}

.faq-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left; */
    width: 70%;
    margin: 0 auto;
}

/* .faq-container-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 47.7%;
    margin: 10px;
} */


.list-item-con-item p span a {
    color: #008060;
}


.tabs-items ul li.active {
    border-left: 3px solid #000000;
}


/* Pricing Table */
.pricing-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.pricing-container table tbody tr td:nth-child(1),
.pricing-container table thead tr th:nth-child(1) {
    width: 33.3333%;
}

.pricing-container table tbody tr td,
.pricing-container table thead tr th {
    width: 16.66666%;
    border: 1px solid #d2d5d9;
}

.pricing-container table {
    border-collapse: collapse;
}

.pricing-container table thead tr th {
    text-align: center;
}

.pricing-section th h4 {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.pricing-section p .currency {
    color: #828a91;
    font-weight: 400;
    padding-right: 0.25rem;
}

.pricing-section p .currency-symbol {
    color: #212326;
    font-size: 1rem;
    align-self: flex-start;
}

.pricing-section p .price {
    font-size: 2.5rem;
    line-height: 2.8125rem;
}

.pricing-section p .per-month {
    color: #828a91;
    font-size: 1.125rem;
    line-height: 0.25rem;
    font-weight: 400;
    letter-spacing: normal;
    padding-bottom: 0.75rem;
    align-self: flex-end;
}

.pricing-section p {
    margin: 0px;
}


.pricing-section th {
    padding: 20px 0px
}

.pricing-container table thead tr th:nth-child(1) {
    border: none;
}

.pricing-container table tbody .features-sec th {
    text-align: left;
    background-color: #f0f1f2;
    font-weight: 400;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.feature-details td dl dd {
    margin: 0px;
    color: #6B7177;
    font-size: 13px;
}

.feature-details td dl dt {
    font-size: 14px;
    color: #212326;
}

.feature-details td {
    padding: 0px 10px;
}

.feature-details td:not(:first-child) {
    text-align: center;
    color: #2c957b;
    font-size: 18px;
    font-weight: 600;
}

.feature-details:hover {
    background-color: #f0f1f2;
    transition: all 0.5s;
}

.features-sec {
    border: 1px solid #d2d5d9;
}

.pricing-btn {
    text-align: center;   
    margin-bottom: 50px;
}

.pricing-btn button {
    background-color: #008060;
    color: #ffffff;
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #008060;
}

.pricing-btn button span {
    color: #008060;
    font-size: 16px;
    font-weight: 600;
}
.pricing-btn button:hover {
    background-color: #008060;
    transition: all 0.5s;
    cursor: pointer;
}

.pricing-btn button:hover span {
    color: #ffffff;
}

.table-hide {
    display: none;
}

.pri-hide {
    display: none;
}
.pri-show {
    display: block;
}